VITE_OAUTH_CLIENT_ID=faaa14e29ed80dbf846375afabb9b976
VITE_OAUTH_CLIENT_SECRET=rizLfDDzV0LklLvIgQObQ8xGdYMtuRpeT+Ojy6TMQlE=
VITE_OAUTH_AUTH_URL=http://localhost:8080/web/index.php/oauth2/authorize
VITE_OAUTH_TOKEN_URL=/orangehrm-oauth/web/index.php/oauth2/token
VITE_OAUTH_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_SUPABASE_URL=https://ydfyumqfloofiyhtbzxo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_l9prek4AvQuFWrhRrRmR4Q_2MDRXMeO
