@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  background: #021b1f;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  min-height: 100vh;
}
